/* :TODO
     Создайте новый проект (папку) и назовите её indentation.
     Скачайте макет для верстки и загрузите его в Figma.
     Сверстайте статью по макету.
     Соблюдайте все правила которые описаны в статье и код-стайл
     Используем только те технологии что проходили в прошлых модулях (flex и grid использовать не нужно)
     --
     Секция "Содержание"
     Пункты меню являются якорными ссылками к другим секциям
     --
     */
@import "styles/normalize.css";
@import "styles/global-styles.css";
@import "styles/intro.css";
@import "styles/content.css";
@import "styles/flow.css";
@import "styles/last.css";
@import "styles/null.css";
@import "styles/summary.css";

/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''),
  url('/fonts/roboto-v30-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('/fonts/roboto-v30-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(''),
  url('/fonts/roboto-v30-latin_cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('/fonts/roboto-v30-latin_cyrillic-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-900 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local(''),
  url('/fonts/roboto-v30-latin_cyrillic-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('/fonts/roboto-v30-latin_cyrillic-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}



